html {
	height: 100%;
	font-family: 'Ruda', sans-serif;
}

body {
	margin: 0;
	height: 100%;
	font-size: 100%;
}
/*Useful vertical alignment class*/
.int {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

/*Header*/
#head {
	-webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.50s;
}

.header {
	position: fixed;
	height: 3em;
	width: 100%;
	font-size: 2em;
	color: white;
	text-shadow: 1px 2px 3px black;
	z-index: 100;
}

.name {
	display: inline-block;
	margin-left: 5%;
	float: left;
}

.name:hover {
	color: red;
}

.nav {
	float: right;
	margin: 0;
	padding-right: 2em;
}

.navli {
	display: inline;
	margin-right: 2em;
}

.navli:hover {
	color: red;
}

/*End Header*/

/*Picture panel*/
.splash {
	background: url('splash.jpg') fixed;
	background-size: cover;
	text-align: center;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 90;
}
/*End picture*/

/*Picture panel text and forms*/
#inputName {
	display: inline-flex;
	margin: 0 auto;
	color: white;
	font-size: 6em;
	text-shadow: 1px 2px 3px black;
	font-family: 'Rancho', cursive;
}

/*Form*/
button {
	visibility: hidden;
	margin-bottom: 0px;
}

input {
	border: none;
	background-color: transparent;
	color: white;
  	font-family: 'Rancho', cursive;
  	text-shadow: 1px 2px 3px black;
  	font-size: 1em;
  	outline: none;
  	margin-left: 0.5em;
  	margin-right: 0.3em;
  	overflow: auto;
  	width: 5em;
  	max-width: 800px;
  	transition: width 0.1s;
}

input:focus {
	border-bottom: white solid 1px;
}

#hidden {
	visibility: hidden
}
/*End of form*/
/*Cool little x*/
#x:hover {
	opacity: 1;
}

#x {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: .5em;
	color: gray;
	opacity: 0.5;
	visibility: hidden;
	padding: 0;
	width: 1em;
	height: 1em;
}
/*End of cool little x*/
/*End of picture text*/

/*Generic panel class*/
.panel {
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 100%;
}
/*End generic panel class*/

/*Generic card properties*/
.card {
	width: 80%;
	margin: 0 auto;
	background-color: white;
	box-shadow: 1.5px 1.5px 2px 2px #CECECE;
}

.cardTitle {
	width: 90%;
	height: 10%;
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid #CECECE;
	padding-top: 0.5em;
}
/*End generic cards*/

/*About specifics*/
.about {
	background-color: #ECECEC;
	text-align: center;
	padding-top: 10em;
	box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
}

#mypic {
	margin-top: 2%;
	width: 20%;
}
/*End about specifics*/

/*Projects specifics*/
.projects {
	background-color: red;
}
/*End projects specifics*/

/*Responsiveness*/
@media only screen and (max-width: 1000px) {
	body {font-size: 56%;}
	.name {display: inline-block;}
	.nav {visibility: hidden}
	.panel {}
	.splash {background: none;
		background-color: yellow;
		width: 100%; }
	.splashtext {display: inline-block;	}
}

/*@media only screen and (max-width: 500px) and (min-width: 0px) {
	body {font-size: 40%;}
	.header {width: 100%}
	.nav {visibility: hidden}
	.splashtext {
		margin-left: 0px;
	}
}*/