html {
	margin: 0;
}

body {
	margin: 0;
	font-family: 'Slabo 27px', serif;
	font-size: 20px;
	color: #555555;
	line-height: 1.6;
}

h1 {
	margin-bottom: 0;
}

p { 
	margin-top: 0;
}

a {
	color: #555555;
	text-decoration: none;
}

#banner {
	width: 80%;
	margin: 0 auto;
	margin-top: 2%;
	display: flex;
}

#facePic {
	flex: 1;
	margin-right: 2%;
}

#facePic img {
	display: inline-block;
	width: 100%;
	border-radius: 50%;
}

#header {
	flex: 8;
	margin-bottom: 2%;
}

#header ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}

#header ul li {
	flex: 1;
	text-align: center;
}

#header ul li a {
	font-size: 1.3em;
	transition: all .3s;
}

#header ul li a:hover {
	cursor: pointer;
	/*font-size: 1.4em;*/
	color: red;
}

#name {
	font-size: 3em;
	margin-bottom: 1%;
	margin-top: 0;
}

.red {
	border: 1px solid red;
}

.page {
	width: 80%;
	margin: 0 auto;	
}


@media screen and (max-width: 1000px) {
    #facePic {
    	flex: 0;
    	display: none;
    }
    #header ul li {
    	/*font-size: 1px;*/
    }
}