html {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	font-family: 'Muli', sans-serif;
}

body {
	background-color: #ECECEC;
	/*background-color: rgb(88, 185, 231);*/
	height: 100%;
	width: 100%;
	margin: 0 auto;
	overflow: hidden
}

a {
	text-decoration: none;
	color: rgb(88, 185, 231);
	transition: all .3s;
}

a:hover {
	color: red;
	font-size: 1.1em;
}

.vertical {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

#container {
	width: 95%;
	height: 95%;
	margin: 0 auto;
	background-color: white;
	box-shadow: 5px 5px 4px 1px #919191;
}

#fullStuff {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

#navbar {
	width: 100%;
	z-index: 100;
}

#navList {
	display: flex;
	padding-left: 0;
}

.nav {
	display: inline;
	flex: 1;
	text-align: center;
	font-size: 1.5em;
}

.bar {
	width: 20%;
	border-radius: 5px;
	height: 1em;
	display: inline-block;
	background-color: #CECECE;	
}

.barfill {
	border-radius: 5px;
	height: 100%;
	background-color: #67BEE7;
}

#leftIntro {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}

#rightIntro {
	height: 70%;
	position: absolute;
	top: 15%;
	left: 50%;
	width: 48%;
	background-color: rgb(88, 185, 231);
	color: white;
	transition: left 1s;
	font-size: 1.2em;
	box-shadow: 5px 5px 3px 1px #919191;
	overflow-y: auto;
}

#rightIntro p {
	line-height: 1.4em;
}

/*.caret {
	position: absolute;
	width: 6%;
	top: 47%;
	left: 47%;
	border-radius: 50%;
	background-color: #DCDCDC;
	color: white;
	text-align: center;
	transition: height .3s, width .3s, left 1s;
	z-index: 10;
	box-shadow: -2px 5px 3px 1px #919191;
}

.caret div:before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.caret:hover {
	width: 7%;
	cursor: pointer;
}*/
.flip {
	transform: rotate(180deg);
}

.circle {
	position: relative;
	border-radius: 50%;
	background-color: red;
	transition: transform 0.5s ease; 
	box-shadow: -2px -2px 3px 1px #919191;
}

.circle:hover {
	cursor: pointer;
}

.circle:before {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.circle > div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: flex;
	align-items: center;
}

.circle .arrow-top  {
	position: absolute;
	height: 10%;
	width: 50%;
	top: 30%;
	left: 20%;

	transform: rotate(-45deg);
	background-color: white;
}

.circle .arrow-bottom {
	position: absolute;
	height: 11%;
	width: 50%;
	top: 59%;
	left: 20%;

	transform: rotate(45deg);
	background-color: white;
}

#arrowHolder {
	width: 3%;
	position: absolute;
	left: 48.5%;
	top: 48.5%;
	z-index: 5;
	transition: width .2s, left 1s;
}

#arrowHolder:hover {
	width: 3.5%;
}

#closeCaret {
	display: none;
	left: 97.5%;
}

.text {
	padding: 2% 5%;
}

.cardText {
	padding: .5% 3%;
}

#skillsCard {
	top: 10%;
}

.card {
	position: absolute;
	height: 80%;
	width: 90%;
	/*border: 1px solid black;*/
	top: 100%;
	left: 5%;
	transition: all 1s;
	background-color: #DCDCDC;
	box-shadow: 3px 3px 5px 1px #919191;
}

.activeTab {
	color: red;
}

/*Responsiveness*/
@media only screen and (max-width: 1000px) {
	body {font-size: 80%;}
}