html {
	height: 100%;
	font-family: 'Ruda', sans-serif;
}

body {
	margin: 0;
	height: 100%;
	font-size: 100%;
}
/*Useful vertical alignment class*/
.int {
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-moz-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	-o-transform: translateY(-50%);
  	transform: translateY(-50%);
}

/*Header*/
#logo {
	height: 1em;
}

.header {
	position: fixed;
	height: 2.2em;
	width: 100%;
	font-size: 1.8em;
	color: white;
	text-shadow: 1px 2px 3px black;
	z-index: 100;
	background-color: rgb(88, 185, 231);
}

.name {
	display: inline-block;
	margin-left: 8%;
	float: left;
	-webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.name:hover {
	color: red;
	cursor: pointer;
}

.nav {
	float: right;
	margin: 0;
	padding-right: 2em;
}

.navli {
	display: inline;
	margin-right: 2em;
	-webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.navli:hover {
	color: red;
	cursor: pointer;
}

/*End Header*/

/*Picture panel*/
.splash {
	background: url('pics/splash.jpg') fixed;
	background-size: cover;
	text-align: center;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 90;
}
/*End picture*/

/*Picture panel text and forms*/
#inputName {
	display: inline-flex;
	margin: 0 auto;
	color: white;
	font-size: 6em;
	text-shadow: 1px 2px 3px black;
	font-family: 'Rancho', cursive;
}

/*Form*/
button {
	visibility: hidden;
	margin-bottom: 0px;
}

input {
	border: none;
	background-color: transparent;
	color: white;
  	font-family: 'Rancho', cursive;
  	text-shadow: 1px 2px 3px black;
  	font-size: 1em;
  	outline: none;
  	margin-left: 0.5em;
  	margin-right: 0.3em;
  	overflow: auto;
  	width: 5em;
  	max-width: 800px;
  	transition: width 0.2s;
}

input:focus {
	border-bottom: white solid 1px;
}

#hidden {
	visibility: hidden
}
/*End of form*/
/*Cool little x*/
#x:hover {
	opacity: 1;
	cursor: pointer;
}

#x {
	font-family: '', sans-serif;
	font-size: .5em;
	color: gray;
	opacity: 0.5;
	visibility: hidden;
	padding: 0;
	width: 1em;
	height: 1em;
}
/*End of cool little x*/
/*End of picture text*/

/*Generic panel class*/
.panel {
	position: relative;
	width: 100%;
	max-width: 100%;
	display: inline-block;
	padding-bottom: 5%
}
/*End generic panel class*/

/*Generic card properties*/
.card {
	width: 70%;
	margin: 0 auto;
	background-color: white;
	box-shadow: 1.5px 1.5px 2px 2px #CECECE;
	padding-bottom: 2%;
	padding-left: 5%;
	padding-right: 5%;
	margin-bottom: 5%;
}

.cardTitle {
	width: 90%;
	height: 10%;
	margin: 0 auto;
	border-bottom: 1px solid #CECECE;
	display: inline-block;
	font-size: 2em;
	padding-top: 1em;
}

.cardTitle h2 {
	margin-bottom: 0px;
}

.side {
	width: 35%;
	padding-left: 0%;
	padding-right: 0%;
}

.left {
	float: left;
	margin-left: 10%;
}

.right {
	float: right; 
	margin-right: 10%;
}
/*End generic cards*/

/*About specifics*/
.about {
	background-color: #ECECEC;
	text-align: center;
	padding-top: 10em;
}

#mypic {
	margin-top: 2%;
	width: 20%;
}

.hide {
	display: none;
	font-size: 0.7em;
	margin: 0 auto;
	margin-bottom: 5%;
	font-style: italic;
}

.smallText {
	font-size: 0.7em;
	font-style: italic;
}

.hidec {
	display: none;
}

#likes {
	margin: 0 auto;
	margin-top: 7%;
}

a {
	text-decoration: none;
	color: red;
}

.horiz {
	list-style: none;
	display: inline-block;
	width: 100%;
	padding-left: 0%;
}

.select {
	display: inline;
	margin-left: 5%;
	margin-right: 5%;
}

.select:hover {
	color: red;
	cursor: pointer;
}

#classes {
	width: 100%;
	float: left;
	font-size: 0.8em;
	text-align: left;
}

#classes li {
	margin-bottom: 2%;
	margin-left: 5%;
}
/*End about specifics*/

.lis {
	text-align: center;
	font-size: 1.5em;
	list-style: none;
	margin-top: 7%;
	width: 90%;
	padding-left: 0%;
}

.lis li {
	margin-bottom: 5%;
	width: 100%;
}

.hobbyhover, .langhover {
	-webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.hobbyhover:hover, .langhover:hover {
	color: red;
	cursor: pointer;
}

.hobbymargin {
	margin-bottom: 5% !important
}

.bar {
	width: 50%;
	border-radius: 5px;
	height: 1em;
	float: right;
	background-color: #CECECE;	
}

.barfill {
	border-radius: 5px;
	height: 100%;
	background-color: #67BEE7;
}

/*Projects specifics*/
.proj {
	width: 100%;
	margin: 0 auto;
	display: inline-block;
	margin-top: 5%
}

.leftpic {
	float: left;
	width: 40%;
	height: 50%;
	border: 1px solid gray;
}

.righttext {
	float: left;
	margin-left: 5%;
	width: 50%;
	margin-top: 0;
}

/*End projects specifics*/

#classshow {
	opacity: 0.5;
	margin-left: 5%;
	-webkit-transition: opacity 0.3s, color 0.3s;
    -moz-transition: opacity 0.3s, color 0.3s;
    -ms-transition: opacity 0.3s, color 0.3s;
    -o-transition: opacity 0.3s, color 0.3s;
    transition: opacity 0.3s, color 0.3s;	
}

#classshow:hover {
	opacity: 1;
	color: red;
	cursor: pointer;
}

.logos {
	display: inline;
	margin-left: 5%;
	margin-right: 5%;
	opacity: 0.5;
	-webkit-transition: opacity 0.3s, color 0.3s;
    -moz-transition: opacity 0.3s, color 0.3s;
    -ms-transition: opacity 0.3s, color 0.3s;
    -o-transition: opacity 0.3s, color 0.3s;
    transition: opacity 0.3s, color 0.3s;	
}

.logos:hover {
	opacity: 1;
	color: red;
	cursor: pointer;
}

/*Responsiveness*/
@media only screen and (max-width: 1000px) {
	body {font-size: 56%;}
	.name {display: inline-block;}
	.nav {visibility: hidden}
	.splash {background: none;
		background-color: #67BEE7;
		width: 100%; }
	.splashtext {display: inline-block;	}
	.side {width: 70%;
		padding-right: 5%;
		padding-left: 5%;}
	.leftpic {display: none;}
	.righttext {margin: 0 auto;
		width: 100%;
		margin-bottom: 5%;
		text-align: center;}
}