div {
	line-height: 22px;
}

#moneytimer {
	font-family: Garamond;
	font-size: 30px;
	text-align: center;
}

.enhancer {
	height: 40px;
	background-color: white;
	width: 300px;
	border-radius: 10px;
	margin-left: 27px;
	line-height: 8px;
	font-size: 20px;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.enhancer:hover {
	background-color: #4F4F4F;
}

.willbecomegame {
	display: inline-block;
}
.game {
	background-color: #E8E8E8;
	height: 300px;
	width: 350px;
	display: inline-block;
	margin: 19px;
	border-radius: 20px;
	font-family: Century;
	font-size: 30px;
	text-align: center;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.almostgame {
	height: 300px;
	width: 350px;
	display: inline-block;
	text-align: center;
	margin: 19px;
	border-radius: 20px;
	background-color: white;
	border: 1px solid black;
	font-family: Century;
	font-size: 25px;
}

.game:hover {
	background-color: #BEBEBE;
}

.realgame {
	margin: 50px auto;
	height: 500px;
	width: 600px;
	border-radius: 30px;
}

canvas {
	border-radius: 30px;
}

#game2 {
	background-color: blue;
}

#game3 {
	background-color: green;
}

#game4 {
	background-color: yellow;
}

#game5 {
	background-color: black;
}


#game6 {
	background-color: olive;
}

#game7 {
	background-color: purple;
}

#game8 {
	background-color: gray;
}