#moneytimer {
	font-family: Garamond;
	font-size: 30px;
	text-align: center;
}

.game {
	background-color: #E8E8E8;
	height: 300px;
	width: 350px;
	display: inline-block;
	margin: 19px;
	border-radius: 20px;
	font-family: Century;
	font-size: 30px;
	text-align: center;
	-webkit-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.game:hover {
	background-color: #BEBEBE;
}

#game1 {
	background-color: red;
	margin: 50px auto;
	height: 500px;
	width: 600px;
	border-radius: 30px;
}

#game2 {
	background-color: blue;
	margin: 50px auto;
	height: 500px;
	width: 600px;
	border-radius: 30px;
}

#game3 {
	background-color: green;
	margin: 50px auto;
	height: 500px;
	width: 600px;
	border-radius: 30px;
}

#game4 {
	background-color: yellow;
	margin: 50px auto;
	height: 500px;
	width: 600px;
	border-radius: 30px;
}

#game5 {
	background-color: black;
	opacity: 0.5;
	margin: 50px auto;
	height: 500px;
	width: 600px;
	border-radius: 30px;
}


#game6 {
	background-color: olive;
	margin: 50px auto;
	height: 500px;
	width: 600px;
	border-radius: 30px;
}

#game7 {
	background-color: purple;
	margin: 50px auto;
	height: 500px;
	width: 600px;
	border-radius: 30px;
}

#game8 {
	background-color: gray;
	margin: 50px auto;
	height: 500px;
	width: 600px;
	border-radius: 30px;
}